<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Donation Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}" {% if active_page == 'index' %}class="active"{% endif %}>Home</a>
        <a href="{{ url_for('donate_blood') }}" {% if active_page == 'donate_blood' %}class="active"{% endif %}>Donate Blood</a>
        <a href="{{ url_for('host_blood_drive') }}" {% if active_page == 'host_blood_drive' %}class="active"{% endif %}>Host a Blood Drive</a>
        <a href="{{ url_for('biomedical_services') }}" {% if active_page == 'biomedical_services' %}class="active"{% endif %}>Biomedical Services</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>