<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blood Donation Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}" {% if active_page == 'index' %}class="active"{% endif %}>Home</a>
        <a href="{{ url_for('donate_blood') }}" {% if active_page == 'donate_blood' %}class="active"{% endif %}>Donor Registration</a>

        <div class="dropdown">
            <span class="dropdown-label">Dashboards</span>
            <div class="dropdown-content">
                <a href="{{ url_for('donor_dashboard') }}">Donor Dashboard</a>
                <a href="{{ url_for('hospital_dashboard') }}">Hospital Dashboard</a>
                <a href="{{ url_for('admin_dashboard') }}">Admin Dashboard</a>
            </div>
        </div>
        <a href="{{ url_for('insights') }}" {% if active_page == 'insights' %}class="active"{% endif %}>Data Insights</a>
        <a href="{{ url_for('biomedical_services') }}" {% if active_page == 'biomedical_services' %}class="active"{% endif %}>Biomedical Services</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>